- list_box = ["物件名称","物件所在地","物件種別","戸数","管理形態","ライフライン","建物設備","周辺施設情報","物件写真登録","ランク","注意事項"]
- list_box_2 = ["所有者名称","所有者について","所有者住所","連絡先等","勤務先情報","注意事項"]
.properties-registration-page-wrapper
  .sub-header
    %h1
      TOP > 物件情報登録
  .content-wrap
    .main-content
      .support-bar
        .registration_list-title
          = "物件情報 (#{list_box.length})"
        - for i in 0..10 do
          = link_to "#{i+1}.#{list_box[i]}", "#switch#{i+1}" , class: "support-bar-line#{i+1}"
        .registration_list-title-2
          所有者情報
        - for i in 0..5 do
          = link_to "#{i+1}.#{list_box_2[i]}", "#switch2-#{i+1}" , class: "support-bar-line2-#{i+1}"
        %i.fas.fa-pencil-alt#pen.pen-none
          入力中
      .properties-registration-form-full-wrapper
        = form_with url: worker_registration_path, class: "float-form", local: true do |f|
          =# render "shared/error_messages", model: f.object
          .properties-registration-form-wrap
            - for i in 0..10 do
              = content_tag(:div, "", id: "switch#{i+1}", class: "properties-registration-form-wrap-line#{i+1}") do
                .form-border
                  - case i+1
                  - when 1 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :worker_login_id, "物件名称"
                        = f.text_field :worker_login_id, autofocus: true,class: 'fa',placeholder: "例) 東京マンション"
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :worker_login_id, "物件名称(カナ)"
                        = f.text_field :worker_login_id, autofocus: true,class: 'fa',placeholder: "例) トウキョウマンション"
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          号室の記入は必要ありません。※分譲一室の場合も必要ありませんのでご注意下さい。
                  - case i+1
                  - when 2 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :post_code, "郵便番号" 
                        = f.text_field :post_code, autofocus: true,class: 'fa in_logo', autocomplete: "postal-code" ,placeholder: "\uf7d7 例) 123-1234 (ハイフン含む)"
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :prefecture_id, "都道府県" 
                        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"})
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :city, "市区町村" 
                        = f.text_field :city, autofocus: true, autocomplete: "address-level2" ,placeholder: "※町名まで入力をしてください"
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :street, "番地" 
                        = f.text_field :street, autofocus: true, class: 'fa', autocomplete: "address-line1"
                  - case i+1
                  - when 3 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :type_id, "物件種別" 
                        = f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"select-box"}) 
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          ACCELでは物件種別に明確な基準を設けていません。用意してある項目に準拠して、会社ごとに統一した基準を設けてください。
                  - case i+1
                  - when 4 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :units, "戸数" 
                        = f.number_field :units, autofocus: true, class: 'fa',min: 1
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          管理形態に関わらず、物件の総戸数入力してください。
                  - case i+1
                  - when 5 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :management_form_id, "管理形態"
                        = f.collection_select(:management_form_id, ManagementForm.all, :id, :name, {}, {class:"select-box"}) 
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          管理形態が「物件内混合」の場合には、複雑な場合がある為、物件の注意事項にその内容を詳細に入力してください。
                  - case i+1
                  - when 6 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :sewer, "上水道" 
                        = f.collection_select(:sewer_id, Sewer.all, :id, :name, {}, {class:"select-box"})
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :water_supply_id, "下水道" 
                        = f.collection_select(:water_supply_id, WaterSupply.all, :id, :name, {}, {class:"select-box"})
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :electrical_id, "電気" 
                        = f.collection_select(:electrical_id, Electrical.all, :id, :name, {}, {class:"select-box"})
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :ga_id, "ガス" 
                        = f.collection_select(:ga_id, Ga .all, :id, :name, {}, {class:"select-box"})
                  - case i+1
                  - when 7 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}  (該当項目すべてを選択)" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        = f.collection_check_boxes(:equipment_id, Equipment.all, :id, :name, {}, {class:"check-box"})do |b|
                          .wrap 
                            = b.check_box
                            = b.label
                      -# ❎追加実装(エレベーター・駐車場・集合郵便受け・自転車置き場などの建物に付随刷る設備に関する情報、多岐に渡るので、スペースは広く撮っていますラジオボタンで区別ができるようにしています。)
                  - case i+1
                  - when 8 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}  該当項目すべてを選択" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        = f.collection_check_boxes(:facility_id,  Facility.all, :id, :name, {}, {class:"check-box"})do |b|
                          .wrap 
                            = b.check_box
                            = b.label
                  - case i+1
                  - when 9 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must.animate__animated.animate__fadeInUp
                            必須
                          = f.label :image, "物件写真"
                        = f.file_field :image, id:"item-image", autofocus: true
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          物件の外観を掲載してください
                      #image-list
                        = image_tag "No-image.png", id: "no-image"
                  - case i+1
                  - when 10 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :rank, "ランク"
                        = f.collection_select(:rank_id, Rank.all, :id, :name, {}, {class:"select-box"}) 
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          A: 掲載等をしていれば何もしなくても成約する可能性が高い物件
                          %br/
                          B: 1つ提案が決まれば決まる可能性が高い物件
                          %br/
                          C: 2つ以上の提案を行えば、Bランクになる可能性が高い物件
                          %br/
                          D: 2つ以上の提案をしても、Bランクになる可能性が低い物件
                  - case i+1
                  - when 11 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :hoge, "注意事項"
                        = f.text_area :name, class: 'fa', autofocus: true
          .properties-registration-form-wrap-2
            - for i in 0..5 do
              = content_tag(:div, "", id: "switch2-#{i+1}", class: "properties-registration-form-wrap-2-line-#{i+1}") do
                .form-border
                  - case i+1
                  - when 1 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :worker_login_id, "所有形態"
                        = f.radio_button :gender, FALSE, class: 'fa in_logo input_radio', id: "human-switch",checked: true
                        .switch-name
                          個人
                        = f.radio_button :gender, TRUE, class: 'fa in_logo input_radio', id: "company-switch"
                        .switch-name
                          法人
                      .company-wrap
                        .field#owner-company-name.owner-company-name-none
                          .input-title
                            %span.must
                              必須
                            = f.label :worker_login_id, "会社名"
                          = f.text_field :hoge, autofocus: true, class: 'fa', id: 'owner-company-name-input'
                        .field#owner-company-name-kana.owner-company-name-kana-none
                          .input-title
                            %span.must
                              必須
                            = f.label :worker_login_id, "会社名(カナ)"
                          = f.text_field :hoge, autofocus: true, class: 'fa', id: 'owner-company-name-kana-input'
                      .name-wrap
                        .field#owner-last-name
                          .input-title.short
                            %span.must
                              必須
                            = f.label :worker_login_id, "姓"
                          = f.text_field :hoge, autofocus: true, class: 'fa name-input', id: 'owner-last-name-input'
                        .field#owner-first-name
                          .input-title.short
                            %span.must
                              必須
                            = f.label :worker_login_id, "名"
                          = f.text_field :hoge, autofocus: true, class: 'fa name-input', id: 'owner-first-name-input'
                        .field#owner-last-name-kana
                          .input-title
                            %span.must
                              必須
                            = f.label :worker_login_id, "姓(カナ)"
                          = f.text_field :hoge, autofocus: true, class: 'fa name-input', id: 'owner-last-name-kana-input'
                        .field#owner-first-name-kana
                          .input-title
                            %span.must
                              必須
                            = f.label :worker_login_id, "名(メイ)"
                          = f.text_field :hoge, autofocus: true, class: 'fa name-input', id: 'owner-first-name-kana-input'
                  - case i+1
                  - when 2 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field.field-1
                        .input-title.short
                          %span.must
                            必須
                          = f.label :gender, "性別"
                        .gender-flex
                          = f.radio_button :gender, FALSE, class: 'fa input_radio'
                          %i.fas.fa-mars
                          男
                          = f.radio_button :gender, TRUE, class: 'fa input_radio'
                          %i.fas.fa-venus
                          女
                      .field.field-2
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :born, "誕生年月日" 
                        .birth-wrapper
                          = raw sprintf(                               |
                            f.date_select(                             |
                              :born,                                   |
                              class:'select-birth',                    |
                              id:"birth-date",                         |
                              use_month_numbers: true,                 |
                              prompt:'--',                             |
                              start_year: 1930,                        |
                              end_year: (Time.now.year - 5),           |
                              date_separator: '%s'),                   |
                            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" |
                      .field.field-3
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :character_id, "性格" 
                        = f.collection_select(:character_id, Character.all, :id, :name, {}, {class:"select-box"}) 
                      .field.field-4
                        .input-title
                          %span.must.optional
                            任意
                          = f.label :prefecture_id, "所有者についての補足" 
                        = f.text_area :name, class: 'fa', autofocus: true
                        .description
                          %span.fas.fa-exclamation-circle 注意点
                          大家様について、社内全体に共有するべき情報を入力してください。※電話等の連絡に関する情報は「4.連絡先等」に入力してください
                  - case i+1
                  - when 3 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :post_code, "郵便番号" 
                        = f.text_field :post_code, autofocus: true,class: 'fa in_logo', autocomplete: "postal-code" 
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :prefecture_id, "都道府県" 
                        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) 
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :city, "市区町村" 
                        = f.text_field :city, autofocus: true, autocomplete: "address-level2"
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :street, "番地" 
                        = f.text_field :street, autofocus: true, class: 'fa', autocomplete: "address-line1" 
                      .field
                        .input-title
                          %span.must.optional
                            任意
                          = f.label :building_name, "建物名(号室まで)" 
                        = f.text_field :building_name, autofocus: true, class: 'fa', autocomplete: "address-line2" 
                  - case i+1
                  - when 4 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :post_code, "主要なやり取りの人物"
                        = f.text_field :post_code, autofocus: true,class: 'fa in_logo', autocomplete: "postal-code" 
                      .description
                        %span.fas.fa-exclamation-circle 注意点
                        主要なやり取り人物が分散している場合には、やり取り方法についての欄に、
                        やり取り方法の詳細を入力してください。また、後ほど関連人物登録
                      .field.col-flex
                        .input-title
                          %span.must
                            必須
                          = f.label :prefecture_id, "やり取り方法について" 
                        = f.text_area :name, class: 'fa', autofocus: true
                      .field
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :city, "固定電話番号" 
                        = f.text_field :city, autofocus: true, autocomplete: "address-level2"
                      .field
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :street, "携帯電話番号"
                        = f.text_field :street, autofocus: true, class: 'fa', autocomplete: "address-line1" 
                      .field
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :building_name, "その他電話番号" 
                        = f.text_field :building_name, autofocus: true, class: 'fa', autocomplete: "address-line2" 
                      .field
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :building_name, "FAX番号" 
                        = f.text_field :building_name, autofocus: true, class: 'fa', autocomplete: "address-line2" 
                      .field
                        .input-title
                          %span.must.optional
                            任意(推奨)
                          = f.label :building_name, "メールアドレス" 
                        = f.text_field :building_name, autofocus: true, class: 'fa', autocomplete: "address-line2" 
                  - case i+1
                  - when 5 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :worker_login_id, "会社名"
                        = f.text_field :hoge, autofocus: true, class: 'fa', id: 'owner-company-name-input'
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :post_code, "郵便番号" 
                        = f.text_field :post_code, autofocus: true,class: 'fa in_logo', autocomplete: "postal-code" 
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :prefecture_id, "都道府県" 
                        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) 
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :city, "市区町村" 
                        = f.text_field :city, autofocus: true, autocomplete: "address-level2"
                      .field
                        .input-title
                          %span.must
                            必須
                          = f.label :street, "番地" 
                        = f.text_field :street, autofocus: true, class: 'fa', autocomplete: "address-line1" 
                      .field
                        .input-title
                          %span.must.optional
                            任意
                          = f.label :building_name, "建物名(号室まで)" 
                        = f.text_field :building_name, autofocus: true, class: 'fa', autocomplete: "address-line2" 
                  - case i+1
                  - when 6 then
                    .properties-registration-form-title
                      %h1.box-title
                        = "#{i+1}.#{list_box_2[i]}" 
                        %i.far.fa-question-circle.info-icon
                    .field-space
                      .field      
                        .input-title
                          %span.must
                            必須
                          = f.label :hoge, "注意事項"
                        = f.text_area :name, class: 'fa', autofocus: true
          = f.button '物件情報を登録する', class: "submit-btn",type: 'button', onclick: 'submit();'