.flex-style
  .auth_form
    .logo.animate__animated.animate__zoomIn= image_tag "Acell.logo.svg"
    .make-account-title.animate__animated.animate__headShake
      .make-account-border
      %i.fas.fa-user-circle.account_icon
      %h2 アカウントの作成
    %h3 
      %i.fas.fa-info-circle.make_account_information_mark
      サービスを利用する為に必要な情報です。間違いのないようご入力お願いします。
    = form_with model: @company, url: company_registration_path, local: true do |f|
      = render "shared/error_messages", model: f.object 
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :name, "①会社名称"
        = f.text_field :name, autofocus: true,placeholder: "\uf1ad  例) 株式会社アクセル不動産", class: 'fa in_logo_company', autocomplete: "organization" 
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :image, "②会社画像"
        = f.file_field :image, id:"item-image", autofocus: true
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :company_login_id, "③アカウントID" 
        = f.text_field :company_login_id, autofocus: true,placeholder: "\uf084  6文字以上12文字以内", class: 'fa in_logo_key',  maxlength: "12"
      .form-countion
        %i.fas.fa-exclamation-triangle.company_login_id_countion
        アカウントIDはサービスを利用する為に必要な情報です。忘れないようにメモ等で情報を保管下さい。
        %br/
        半角6~12文字かつ英大文字・小文字・数字それぞれ１文字以上を含む必要があります
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :email, "④メールアドレス"
        = f.email_field :email, autofocus: true, placeholder: "\uf0e0  例) accel@gmail.com", class: 'fa in_logo_mail', autocomplete: "email"
      .chain-border        
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :password, "⑤パスワード"
        = f.password_field :password, autofocus: true, placeholder: "\uf023  6文字以上で入力ください", class: 'fa in_logo_mail', autocomplete: "new-password"
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :password_confirmation, "⑥確認用パスワード"
        = f.password_field :password_confirmation, autofocus: true, placeholder: "\uf2ea  6文字以上で入力ください", class: 'fa in_logo_mail', autocomplete: "new-password"
      .form-countion
        %i.fas.fa-exclamation-triangle.company_login_id_countion
        パスワードもサービスを利用する為に必要な情報です。忘れないようにメモ等で情報を保管下さい。
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :post_code, "⑦郵便番号" 
        = f.text_field :post_code, autofocus: true,placeholder: "〒  例) 163-8001", class: 'fa in_logo', autocomplete: "postal-code" 
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :prefecture_id, "⑧都道府県" 
        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) 
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :city, "⑨市区町村" 
        = f.text_field :city, autofocus: true,placeholder: " 例) 新宿区西新宿", class: 'fa', autocomplete: "address-level2"
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp
            必須
          = f.label :street, "⑩番地" 
        = f.text_field :street, autofocus: true,placeholder: " 例) 2丁目8-1", class: 'fa', autocomplete: "address-line1" 
      .chain-border
      .field
        .input-title
          %span.must.animate__animated.animate__fadeInUp.optional 
            任意
          = f.label :building_name, "⑪建物名(号室まで)" 
        = f.text_field :building_name, autofocus: true,placeholder: " 例) 東京都庁", class: 'fa', autocomplete: "address-line2" 
      .submit-recaptcha-wrap
        = recaptcha_tags 
        = f.submit "アカウントを作成", class: "create-company-account"
    -# = render "companies/shared/links"
