.flex-style
  .auth_form.animate__animated.animate__fadeIn
    .logo.animate__animated.animate__zoomIn= image_tag "Acell.logo.svg"
    .make-account-title
      -# .make-account-border
      %h2 アカウントを作成
    %h3 
      %i.fas.fa-info-circle.make_account_information_mark
      サービスを利用する為に必要な情報です。間違いのないようご入力お願いします。
    = form_with model: @company, url: company_registration_path, autocomplete: "off", local: true do |f|
      - if @company.errors.any?
        #error_explanation
          %i.fas.fa-exclamation-circle.error-icon-big
          %h2
            申し訳ございません。
            %br/
            = pluralize(@company.errors.count, "箇所の入力不備があります。")
          %h3
            お手数ですが、入力項目をご確認のうえ、再度ご入力ください。
      .field
        .input-title
          %span.must
            必須
          = f.label :name, "会社名称"
        = f.text_field :name, autofocus: true,placeholder: "例) 株式会社アクセル不動産"
      - if @company.errors.include?(:name)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:name).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :image, "会社プロフィール画像"
        = f.file_field :image, id:"item-image"
      - if @company.errors.include?(:image)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:image).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :company_login_id, "アカウントID" 
        = f.text_field :company_login_id, placeholder: "6文字以上12文字以内で入力ください",  maxlength: "12"
      - if @company.errors.include?(:company_login_id)
        -if @company.errors.full_messages_for(:company_login_id).first.length >= 40
          .error-longer
            %i.fas.fa-exclamation-circle.error-icon
            = @company.errors.full_messages_for(:company_login_id).first
        -else
          .error
            %i.fas.fa-exclamation-circle.error-icon
            = @company.errors.full_messages_for(:company_login_id).first
      .form-countion
        %i.fas.fa-exclamation-triangle.company_login_id_countion
        アカウントIDはサービスを利用する為に必要な情報です。忘れないようにメモ等で情報を保管下さい。
        %br/
        半角6~12文字かつ英大文字・小文字・数字それぞれ１文字以上を含む必要があります
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :email, "メールアドレス(mail)"
        = f.email_field :email, placeholder: "例) accel@gmail.com"
      - if @company.errors.include?(:email)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:email).first
      .chain-border        
      .field
        .input-title
          %span.must
            必須
          = f.label :password, "パスワード"
        = f.password_field :password, placeholder: "6文字以上で入力ください", class: 'password-input'
        %i.fas.fa-eye.password-eye
      - if @company.errors.include?(:password)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:password).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :password_confirmation, "確認用パスワード"
        = f.password_field :password_confirmation, placeholder: "6文字以上で入力ください", class: 'password-confirmation-input'
        %i.fas.fa-eye.password-confirmation-eye
      - if @company.errors.include?(:password_confirmation)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:password_confirmation).first
      .form-countion
        %i.fas.fa-exclamation-triangle.company_login_id_countion
        パスワードもサービスを利用する為に必要な情報です。忘れないようにメモ等で情報を保管下さい。
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :post_code, "郵便番号" 
        = f.text_field :post_code, placeholder: "例) 163-8001"
      - if @company.errors.include?(:post_code)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:post_code).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :prefecture_id, "都道府県" 
        = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box"}) 
      - if @company.errors.include?(:prefecture_id)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:prefecture_id).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :city, "市区町村" 
        = f.text_field :city,placeholder: "例) 新宿区西新宿"
      - if @company.errors.include?(:city)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:city).first
      .chain-border
      .field
        .input-title
          %span.must
            必須
          = f.label :street, "番地" 
        = f.text_field :street, placeholder: "例) 2丁目8-1"
      - if @company.errors.include?(:street)
        .error
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:street).first
      .chain-border
      .field
        .input-title
          %span.must.optional 
            任意
          = f.label :building_name, "建物名(号室まで)" 
        = f.text_field :building_name, autofocus: true,placeholder: "例) 東京都庁"
      .submit-recaptcha-wrap
        = recaptcha_tags 
        = f.button 'アカウント作成', class: "create-account",type: 'button', onclick: 'submit();'
      - if @company.errors.include?(:base)
        .error-recaptcha
          %i.fas.fa-exclamation-circle.error-icon
          = @company.errors.full_messages_for(:base).first
    -# = render "companies/shared/links"

  .button-back-ground.animate__animated.animate__fadeInRight
    = link_to new_company_session_path, class: "move-button" do
      %i.fas.fa-sign-in-alt.exit-or-in
      .exit-or-in-comment
        ログイン
  .button-back-ground-2.animate__animated.animate__fadeInRight
    = link_to root_path, class: "move-button" do
      %span.material-icons.exit-or-in
        home
      .exit-or-in-comment
        TOPに戻る
  .mini-width-menu.animate__animated.animate__fadeInRight
    %i.fas.fa-list-ul
      メニュー
    .menu
      = link_to "ログイン", new_company_session_path
      = link_to "TOPに戻る", root_path

.company-border.animate__animated.animate__fadeInLeftBig