.rooms-new-page-wrapper
  .sub-header
    - breadcrumb :new_room
    = breadcrumbs pretext: "", separator: " &rsaquo; ", class: "breadcrumbs-list"
  %main
    %section
      .section-title
        %span - ROOM CREATE -
        %h3
          = " 部屋登録" 
      = form_with model: @room, url: "/rooms/#{params[:id]}/create", local: true do |f|
        .data-line-1
          .data-box-20
            = f.label :room_num, "部屋番号"
            %span 必須
            =f.text_field :room_num, autofocus: true, autocomplete: "off"
        .data-line-2
          .data-box-20
            = f.label :floor, "階数"
            %span 必須
            =f.text_field :floor, autofocus: true, autocomplete: "off"
        %h1 入居状況
        %span.i 必須
        .data-line-3
          .data-box
            %label#select1
              =f.radio_button :room_status, autofocus: true, autocomplete: "off"
              %span 入居中
          .data-box
            %label#select2
              =f.radio_button :room_status, autofocus: true, autocomplete: "off"
              %span 空室
        = f.button '登録する', id: "create-room",type: 'button', onclick: 'submit()'
        -# %table.first
        -#   %tr
        -#     %th 部屋番号
        -#   %tr
        -#     %td= f.text_field :name, autofocus: true, autocomplete: "off"
        -#   %tr
        -#     %th 管理形態
        -#     %td= f.text_field :name, autofocus: true, autocomplete: "off"
        -#   %tr
        -#     %th 階数 (例: 1F)
        -#     %td= f.text_field :name, autofocus: true,autocomplete: "off"
        -# %table.first
        -#   %tr
        -#     %th{colspan: "2",class: "title-cell"} ①基本情報
        -#   %tr
        -#     %th 部屋番号
        -#     %td= f.text_field :name, autofocus: true, autocomplete: "off"
        -#   %tr
        -#     %th 管理形態
        -#     %td= f.text_field :name, autofocus: true, autocomplete: "off"
        -#   %tr
        -#     %th 階数 (例: 1F)
        -#     %td= f.text_field :name, autofocus: true,autocomplete: "off"