
!!!
%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Accel - 不動産賃貸仲介業特化型戦略マネジメントツール
    = favicon_link_tag('favicon.svg')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  #cursor
  .site-wrapper
    - if current_page?(root_path)
      .header
        .container
          = link_to "#" do
            = embedded_svg "Acell.logo.svg", class: "good-svg single-logo animate__animated animate__wobble"
          .navi-flex
            %ul
              %li
                = link_to "ACCELについて", "#", class: "li-1"
              %li
                = link_to "ACCELの使い方", "#", class: "li-2"
              %li
                = link_to "料金プラン", "#", class: "li-3"
              %li
                = link_to "お問い合わせ", "#", class: "li-4"
              - if company_signed_in? && worker_signed_in?
                - if current_company.id == current_worker.company_id
                  %li.login_button
                    = link_to "アプリに戻る", app_tops_path, class: "login_button_a"
              - elsif company_signed_in?
                %li.login_button
                  = link_to "ログイン", worker_session_path, class: "login_button_a"
              - else
                %li.login_button
                  = link_to "アカウント作成", new_company_registration_path, class: "login_button_a"
                %li.login_button
                  = link_to "ログイン", new_company_session_path, class: "login_button_a"
          %i.fas.fa-bars
    - elsif company_signed_in? && worker_signed_in?
      .header-app
        .container-1
          .navi-flex
            = link_to "#" do
              = image_tag "Acell.logo.svg", class: "apps-home-logo"
            %ul.app
              %li
                = link_to sort_property_path(1) do
                  物件一覧
              %li
                = link_to new_property_path do
                  物件登録
              %li
                = link_to destroy_worker_session_path, method: :delete, data: { confirm: '本当にログアウトしますか?' } do
                  ログアウト
          .user-navi
            - if current_worker.gender == FALSE
              = link_to "#", class: "profile-img"  do
                = image_tag current_worker.image, class: "mens-color"
            - else
              = link_to "#", class: "profile-img"  do
                = image_tag current_worker.image, class: "woman-color" 
            .profile-navi
              .profile-name
                = link_to "#" do  
                  = "#{current_worker.last_name}#{current_worker.first_name}"
            .profile-navi
              .profile-company
                = link_to "#" do
                  = current_company.name
        - if company_signed_in? && worker_signed_in?
          = link_to app_tops_path, class: "current-logo-registration" do
            %span.material-icons.home-logo
              home
        %i.fas.fa-bars#humburger
        #menu
          %ul
            %i.fas.fa-times-circle#close
            %li
              = link_to sort_property_path(1) do
                物件一覧
            %li
              = link_to new_property_path do
                物件登録
            %li
              = link_to destroy_worker_session_path, method: :delete, data: { confirm: '本当にログアウトしますか?' } do
                ログアウト
  = yield
  %footer
    .copyright
      = embedded_svg "Acell.logo.svg", class: "footer_logo"
      %h1 ©2020 ACCEL(アクセル)
      %h2 利用規約
      %h3 プライバシーポリシー